!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}/
    %title MobileVvtkLottery
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag "underscore"
    = javascript_include_tag "react"
    = csrf_meta_tags

    %link{:href => asset_path("below/styles/style.css"), :rel => "stylesheet", :type => "text/css"}/
    %link{:href => asset_path("below/styles/framework.css"), :rel => "stylesheet", :type => "text/css"}/
    %link{:href => asset_path("below/styles/owl.carousel.css"), :rel => "stylesheet", :type => "text/css"}/
    %link{:href => asset_path("below/styles/owl.theme.css"), :rel => "stylesheet", :type => "text/css"}/
    %link{:href => asset_path("below/styles/swipebox.css"), :rel => "stylesheet", :type => "text/css"}/
    %link{:href => asset_path("below/styles/font-awesome.css"), :rel => "stylesheet", :type => "text/css"}/
    %link{:href => asset_path("below/styles/animate.css"), :rel => "stylesheet", :type => "text/css"}/

    %link{:href => asset_path("below/images/splash/splash-icon.png"), :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => asset_path("below/images/splash/splash-screen.png"), :media => "screen and (max-device-width: 320px)", :rel => "apple-touch-startup-image"}/
    %link{:href => asset_path("below/images/splash/splash-screen%402x.png"), :media => "(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image"}/
    %link{:href => asset_path("below/images/splash/splash-screen%403x.png"), :rel => "apple-touch-startup-image", :sizes => "640x1096"}/
    %link{:href => asset_path("below/images/splash/splash-screen-ipad-portrait.png"), :media => "screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)", :rel => "apple-touch-startup-image", :sizes => "768x1004"}/
    %link{:href => asset_path("below/images/splash/splash-screen-ipad-portrait-retina.png"), :media => "(device-width: 768px)\tand (orientation: portrait)\tand (-webkit-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image", :sizes => "1536x2008"}/
    %link{:href => asset_path("below/images/splash/splash-screen-ipad-landscape-retina.png"), :media => "(device-width: 768px)\tand (orientation: landscape)\tand (-webkit-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image", :sizes => "1496x2048"}/    


  %body
    = yield
    = javascript_include_tag params[:controller]
    %script{:src => asset_path("below/scripts/jquery.js"), :type => "text/javascript"}
    %script{:src => asset_path("below/scripts/jqueryui.js"), :type => "text/javascript"}
    %script{:src => asset_path("below/scripts/framework.plugins.js"), :type => "text/javascript"}
    %script{:src => asset_path("below/scripts/custom.js"), :type => "text/javascript"}    
    = javascript_include_tag :search_winner